.btns{
	text-align: center;
	width :600px;
	margin: 20px auto;
	word-spacing: 24.5px;
	
}
button {
	outline: none;
    background-color: #00ba59; 
    border: none;
    color: white;
    padding: 15px 33px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-family: 'Patua One', cursive;
}


.drw{
	margin: 20px auto;
	width :546px;
}

#can{
	width: 546px;
	height: 600px;
	margin: 0 auto;
}

#but{

	margin: 0 auto;
	width: 546px;
	text-align: center;
}

#res{
	background-color: red;
}
#pas{
	background-color: #f7ed38;
}
